* {
	margin:0;
	padding:0;
	border:0;
}


.contPrinc {
    width: 1620px;
    height: 980px;
    display: flex;
    flex-direction: column;
}
.cabeza{
    width: 375px;
    height: 68px;
    margin-top: 82px;
    margin-left: 600px;
    display: flex;
    flex-direction: row;
    align-items: start;
}
.perroAzul{
    width: 107px;
    height: 68px;
   
}
.nosotrasTitle{
    width: 264px;
    height: 47px;
    margin-top: 8px;
    font-family: 'Libre Baskerville';
    font-size: 48px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: left;

}
.carrouselFotosContainer{

}
.carrouselFotos{
 width: 1323px;
 height: 389px;
 display: inline-flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 17px;
}
.slide2{

}
.colCar{
    width: 125px; 
    height: 350px;
    flex-shrink: 0;
    border-radius: 75px;
    background: #FFF;
    overflow: hidden;
}
.imgCar{
    width: fixed 125px;
    height: 350px;
    border-radius: 75px;
}
.colCar1{
    width: 185px; 
    height: 350px;
    flex-shrink: 0;
    border-radius: 55px;
    background: #FFF;
    overflow: hidden;
}
.imgCar1{
    width: fixed 180px;
    height: 350px;
    border-radius: 55px;
}
.image-container1{
    
}
.carrouselReviews{
    display: flex;
    width: 1335px;
    height: 360px;
    padding: 38px 0px 39px 7px;
    justify-content: flex-end;
    align-items: center;
}