.bg {
    background-color: #90C2E9;
    width: 1920px;
 
}
.mainContainer{
    width: 1620px;
    height: 1391px;
    margin-top: 100px;
    margin-left: 150px;
    background-image: url(../../assets/images/Paws\ -\ up.jpg);
}


.sec1container{
    width: 1,620px;
    height: 980px;
    margin-top: 100px;
   

}
.innerCont{
    max-width: 1440px; 
    max-height: 580px; 
    margin-top: 241px;
    margin-left: 150px;
}
.col1 {
    width: 513px;
    height: 580px;
    grid-gap: 10px;
}
.texto {
    width: 513px;
    height: 580px;
}
.pText {
   max-width: 571px;
    max-height: 302px;
    font-family: 'Libre Baskerville', serif;
    font-size: 20px;
}
h1 {
    max-width: 327px;
    max-height: 48px;
    font-family: 'Libre Baskerville', serif;
    font-size: 56px;
    font-weight:bold;
}
.button {
    width: 211px;
    height: 58px;
    background:#CF8433;
    border: none;
    color: white;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
    font-size: 18px;
    border-radius:75px;
    Padding: 8px, 24px, 8px, 24px;
}
.button:hover {
    background-color:#E5A763;
    ;
  }
  .button:active{
    background:#CF8433;
    transform: scale(0.98);
 /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
/* Lowering the shadow */
  }
  .col2 {
    width: 713px;
    height: 580px;
}



.testCards {
    width: 1620px;
    height: 411px;
    background-color: white;
    margin-left: 0px;
}

/* Media query for tablets */
@media (max-width: 768px) {
    .bg {
        
        background-image: url(../../assets/images/Paws\ -\ up.jpg);
        }
        
    .mainContainer{
        width: 737px;
        height: 640px;
        margin-top: 128px;
        margin-left: 32px;
        gap: 30px;
        display: grid flex;
        flex-direction:  column-reverse;
        grid-template-columns: auto;

    }
    .sec1container{
        width: fit-content;
        height: fit-content;
        
       
    
    }
    .col1 {
        width:fit-content;
        height: fit-content;
    }
    .texto {
        width: 661px;
        height: 156px;
    }
    .pText {
       max-width: 571px;
        max-height: 302px;
        font-family: 'Libre Baskerville', serif;
        font-size: 14px;
    }
    h1 {
        max-width: 210px;
        max-height: 32px;
        font-family: 'Libre Baskerville', serif;
        font-size: 53px;
        font-weight:bold;
    }
    .button {
        width: 211px;
        height: 58px;
        background:#CF8433;
        border: none;
        color: white;
        text-align: center;
        font-family: 'Libre Baskerville', serif;
        font-weight: bold;
        font-size: 18px;
        border-radius:75px;
        Padding: 8px, 24px, 8px, 24px;
    }
    .col2 {
        width:fit-content;
        height: fit-content;
    }
    .imgPerro {
        width: 258px;
        height: 280px;

    }
    .testCards {
        width: fit-content;
        height: fit-content;
        background-color: white;
        margin-left: 0px;
    }
}