.bgh {
    background: rgba(144, 194, 233, 1);
    width: 1920px;
}
.mainContainer{
    width: 1620px;
    height: 1391px;
    margin-left: 150px;
    background-image: url(../../assets/images/Paws\ -\ up.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
}


.sec1container{
    width: 1,620px;
    height: 980px;
    margin-top: 100px;
    
}
.innerCont{
    width: 1440px; 
    height: 580px; 
    margin-top: 241px;
    margin-left: 150px;
    display: flex;
    flex-direction: row;
}
.col1 {
    width: 513px;
    height: 580px;
    margin: 0px;
    padding: 0px;
}
.texto {
    width: 571px;
    height: 580px;
}
.pText {
    max-width: 571px;
    max-height: 302px;
    font-family: 'Libre Baskerville', serif;
    letter-spacing: 0.1px;
    font-size: 24px;
    margin: 30px 50px 30px 0px;
    text-align: justify;
}
.titulo {
    max-width: 327px;
    max-height: 302px;
    font-family: 'Libre Baskerville', serif;
    font-size: 56px;
    font-weight:bold;
    margin-bottom: 50px;
}
.contButton{
    align-items: start;
    margin-top: 60px;
}

.button {
    width: 211px;
    height: 58px;
    background:#CF8433;
    border: none;
    color: white;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
    font-size: 18px;
    border-radius:75px;
}
.button:hover {
    background-color:#E5A763;
    ;
}

.button:active{
    background:#CF8433;
    transform: scale(0.98);
 /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
/* Lowering the shadow */
}
.col2 {
    width: 813px;
    height: 670px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.background {
    width: 460px;
    height: 467px;
    /* background-color: #CF8433; */
    background-image: radial-gradient(#CF8433, #E5A763 60%, black);
    opacity:initial;
    border-radius: 100%;
    transform-origin: center;
    transition: transform 0.5s; /* Agregamos una transición para animar el efecto */
    box-shadow: -1px 12px 21px 3px rgba(0,0,0,0.36);
-webkit-box-shadow: -1px 12px 21px 3px rgba(0,0,0,0.36);
-moz-box-shadow: -1px 12px 21px 3px rgba(0,0,0,0.36);
}

.imgPerro{

    width: 520px;
    height: 600px;
    object-fit: cover; /* Ajusta el tamaño de la imagen para que cubra el contenedor */
    position: absolute;
    top: 42%; 
    left: 57%; 
    transform: translate(-50%, -50%); /*Centramos la imagen en el contenedor */
    transition: transform 0.5s ease;

}

.col2:hover .background {
    transform: scale(1.2) translateY(-40px);;/* Escalamos el fondo en un 20% al hacer hover */
}

.sec2Cont {
    width: 1620px;
    height: 411px;
    background-color: white;
}

.testCards{
    width: 1335px;
    height: 360px;
    margin-top: 66px;
    margin-left: 90px;
}















/* Media query for tablets */
@media (max-width: 768px) {
    .bgh {
        background-image: url(../../assets/images/Paws\ -\ up.jpg);
        width: 768px;
        height: 1340px;
    }
    .mainContainer{
        width: 768px;
        height: 1070px;        
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px;
    }
    
    
    .sec1container{
        width: 768px;
        height: 640px;
        margin: 0px;
    }
    .innerCont{
        width: 737px; 
        height: 672px; 
        margin: 0px;
        display: flex;
        flex-direction: column-reverse;
    }
    .col1 {
        width: 770px;
        height: 380px;
    }
    .texto {
        width: 661px;
        height: 341px;
        margin: 30px 38px 20px;
        align-items: center;
    }
    .pText {
        max-width: 661px;
        max-height: 156px;
        font-family: Libre Baskerville;
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: center;
        margin: 0px;
        letter-spacing: 0.1px;
        margin: 20px 20px;
    }
    .titulo {
        max-width: 215px;
        max-height: 32px;
        margin: 0px 226px 30px;
        font-family: Libre Baskerville;
        font-size: 36px;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: 0em;
        text-align: center;
        white-space: nowrap;
        
    }
    .contButton{
        align-items: center;
        margin: 30px 169.5px;
    }
    .button {
        width: 322px;
        height: 44px;
        background:#CF8433;
        border: none;
        color: white;
        text-align: center;
        font-family: Libre Baskerville;
        font-size: 16px;
        font-weight: 700;
        line-height: 17px;
        letter-spacing: 0em;
        border-radius:75px;
        align-items: center;
    }
    .button:hover {
        background-color:#E5A763;
        ;
    }
    .button:active{
        background:#CF8433;
        transform: scale(0.98);
     /* Scaling button to 0.98 to its original size */
        box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    /* Lowering the shadow */
    }
    .col2 {
        width: 600px;
        max-height: 292px;
        margin: 0px;
        position: relative;
        display: flex;
        align-items: center;
        margin-left: 60px;

    }
    .imgGroup{
        display: flex;
        margin-left: 60px;
    }
    .background {
        width: 208.2px;
        height: 208.2px;
        margin: 0px;
        margin-top: 15px;
        margin-left: 20px;
    }
    
    .imgPerro{
        width: 258px;
        height: 280px;
        margin: 0px;
        object-fit: cover; /* Ajusta el tamaño de la imagen para que cubra el contenedor */
        position: absolute;
        align-items: center;
    
    }
    
    .col2:hover .background {
        pointer-events: none;
    }
    .sec2Cont {
        width: 800px;
        height: 383px;
        background-color: white;
    }
    
    .testCards{
        width: 800px;
        height: 383px;
        margin: 0px;
        margin-top: 66px;
        
    }
}

@media (max-width: 480px){
    .bgh {
        background-image: url(../../assets/images/Paws\ -\ up.jpg);
        width: 100%;
        height: 811px;
        display: flex;
        align-items: center;
        justify-content: center;
  }
    
    .mainContainer{
        width: 100%;
        height: 811px;        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0px;
    }
    .sec1container{
        width: 100%;
        height: 495px;
        margin-top: 33px;
        margin-left: 16px;
        gap: 12px;
        align-items: center;
    }
    .innerCont{
        width: 100%; 
        height: 495px; 
        margin: 0px;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .col1 {
        width: 322px;
        height: 275px;
        grid-gap: 16px;
    }
    .texto {
        width: auto;
        height: 275px;
        margin: 0px;
        margin-top: 0px;
        align-items: center;
    }
    .pText {
        max-width: 100%;
        max-height: 166px;
        font-family: 'Libre Baskerville';
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.1px;
        letter-spacing: 0em;
        text-align: center;
        margin: 0px;
        margin: 20px 46px;
    }
    .titulo {
        max-width: 100%;
        max-height: 23px;
        margin: 10.73px 110px 6px;
        font-family: Libre Baskerville;
        font-size: 24px;
        font-weight: 700;
        line-height: 22.4px;
        letter-spacing: 0em;
        text-align: center;
        white-space: nowrap;
        
    }
    .contButton{
        align-items: center;
        margin: 0px 0px 10.73px;
        
    }
    .button {
        width: 100%;
        height: 32px;
        background:#CF8433;
        border: none;
        color: white;
        text-align: center;
        font-family: 'Libre Baskerville';
        font-size: 14px;
        font-weight: 700;
        line-height: 16.5px;
        letter-spacing: 0em;
        border-radius:75px;
        align-items: center;
    }
    .button:hover {
        background-color:#E5A763;
        ;
    }
    .button:active{
        background:#CF8433;
        transform: scale(0.98);
     /* Scaling button to 0.98 to its original size */
        box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    /* Lowering the shadow */
    }
    .col2 {
        width: 100%;
        max-height: 226.27px;
        margin: 0px;
        position: relative;
        display: flex;
        align-items: center;
        margin-left: 0px;

    }
    .imgGroup{
        display: flex;
        
    }
    .background {
        width: 158.6px;
        height: 158.6px;
        margin: 0px;
        margin-left: 20px;
        margin-top: 25px;
    }
    
    .imgPerro{
        width: 202px;
        height: 220px;
        margin: 0px;
        object-fit: cover; /* Ajusta el tamaño de la imagen para que cubra el contenedor */
        position: absolute;
        align-items: center;
    
    }
    
    .col2:hover .background {
        pointer-events: none;
    }
    .sec2Cont {
        width: 100%;
        height: 250px;
        background-color: white;
        margin-top: 33px;
    }
    
    .testCards{
        width: 100%;
        height: 250px;
        margin: 0px;
        margin-top: 20px;
    }
}