.carrusel{
    display: flex;
    justify-content: center;
    font-family: 'Belleza';
    text-align: left;

}

.slide{
    width: 1200px;
    height: 300px;
    margin-top: 20px ;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

div .col3 {
    width: 113px !important;
    height: 300px;
    grid-gap: 10px;
}


.colCard{
    width: 290px;
}
.card{
    width: 350px;
    /* height: 290px; */
    border-radius: 30px ;
}

.image-container {
    display: flex;
    justify-content: flex-start;
}

.cardTitle{
    margin: 10px;
    margin-top: 32px;
}

.edad{
    color: #CF8433;
    margin: 10px;
    height: 21px;
    font-weight: 700;
}

.img {
    width: 73px;
    height: auto;
    margin: 15px;
}

.cardText{
    width: 310px;
    height: 185px;
    margin-bottom: 3px;
}

.carousel-control-prev,
.carousel-control-next {
    width: 30px;
    height: 30px;
    color: black;
}

/* OCULTA LAS TARJETAS QUE ESTAN DE MAS */
.ocultar{
display: none;}

/* Media query for tablets */
@media (max-width: 768px){
.carrusel{
    width: 800px;
}
.colCard{
    width: 250px;
    height: 300px;
}
.card{
    width: 250px;
    height: 300px;
}
.cardText{
    width: 232px;
    height: 171px;
    font-size: 15px;
}
.image-container {
    display: flex;
    justify-content: flex-start;
}

.cardTitle{
    font-size: 15px;
}
.edad{
    margin: 8px;
    height: 20px;
    font-size: 14px;
}
.carousel-indicators{
    display: none;
}
}

@media (max-width: 480px){
    .carrusel{
        width: 100vw;
        height: 250px;
        overflow-x:scroll;
        overflow-y: scroll;
        overflow-wrap: normal;
        overflow-inline:scroll ;
    }

    /* PARA QUE SE ACOMODEN LAS CARD  */
    .rowCar {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    /* .col3 {
        flex-basis: 50%;
        max-width: 50%;
    } */
    .card{
        width: 135px;
        height: auto;
        text-overflow: clip;
        margin: 0;
    }
    .cardText{
        width: 110px;
        height: fit-content;
        font-size: xx-small;
        text-overflow: unset;
    }
    .image-container {
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: flex-start;
    }
    .img {
        width: 32px;
        height: 32px;
        margin: 8px 0px 6px 10px;
    }
    .nameTag{
        width: 70px;
        height: 58px;
    }
    .cardTitle{
        font-size: 10px;
        margin: 0px;
        margin-top: 6px;
        margin-left: 10px;
    }

    .edad{
        height: 20px;
        font-size: 8px;
        margin: 2px 10px;
        white-space: nowrap;
        
    }
    .carousel-indicators{
        display: none;
    }
}
