.carrusel{
    display: flex;
    justify-content: center;
    font-family: 'Belleza';
    text-align: left;

}

.slide{
    width: 1200px;
    height: 300px;
    margin-top: 20px ;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

div .col3 {
    width: 113px !important;
    height: 300px;
    grid-gap: 10px;
}

.colCard{
    width: 290px;
}
.card{
    width: 350px;
    height: 290px;
    border-radius: 30px ;
}

.image-container {
    display: flex;
    justify-content: flex-start;
}

.cardTitle{
    margin: 10px;
    margin-top: 32px;
}

.edad{
    color: #CF8433;
    margin: 10px;
    height: 21px;
    font-weight: 700;
}

.img {
    width: 73px;
    height: auto;
    margin: 15px;
}

.cardText{
    width: 310px;
    height: 185px;
    margin-bottom: 3px;
}

.carousel-control-prev,
.carousel-control-next {
    width: 30px;
    height: 30px;
    color: black;
}

/* Media query for tablets */
@media (max-width: 768px){
.carrusel{
    width: 800px;
}
.colCard{
    width: 250px;
    height: 300px;
}
.card{
    width: 250px;
    height: 300px;
}
.cardText{
    width: 232px;
    height: 171px;
    font-size: 15px;
}
.image-container {
    display: flex;
    justify-content: flex-start;
}

.cardTitle{
    font-size: 15px;
}
.edad{
    margin: 8px;
    height: 20px;
    font-size: 14px;
}
.carousel-indicators{
    display: none;
}
}

@media (max-width: 480px){
    .carrusel{
        width: 480px;
        height: 250px;
    }
    .colCard{
        width: 224px;
        height: 220px;
    }
    .card{
        width: 138px;
        height: 186px;
    }
    .cardText{
        width: 106px;
        height: 108px;
        font-size: 8px;
       
    }
    .image-container {
        width: 48px;
        height: 48px;
        display: flex;
        justify-content: flex-start;
    }
    .img {
        width: 45px;
        height: 45px;
        margin: 13px 10px 6px 13px;
    }
    .nameTag{
        width: 68px;
        height: 68px;
    }
    .cardTitle{
        font-size: 10px;
        margin: 5px;
        margin-top: 13px;
    }

    .edad{
        margin: 8px;
        height: 20px;
        font-size: 8px;
        margin: 5px
    }
    .carousel-indicators{
        display: none;
    }
}
