/* Default styles for desktop */
.footerContainer {
  width: 100%;
  max-width: 1920px; /* Set a maximum width for large screens */
  height: 282px;
  background: rgba(244, 220, 193, 1);
  font-family: 'Libre Baskerville', serif;
  font-size: 16px;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  padding: 0 30px; /* Add some padding to adjust the content on larger screens */
}

.contLogo {
  width: max-content;
  height: max-content;
}

.logo {
  width: 190.4993133544922px;
  height: 68px;
}

.contRedes {
  display: flex;
  gap: 8px;
  justify-content: center;
  
}

.cajaRedes {
  width: max-content;
  height: max-content;
  
}

.iconosRedes {
  width: 48px;
  height: 48px;
  margin: 0px 18.33px 4px 18.33px;
}
.pRedes{
  color: black;
  text-decoration: none;
  text-align: center;
}
.nombreRedes{
  width: 87px;
  height: 24px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.10000000149011612px;
  text-align: center;
}

.listPag {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1; /* Allow the navigation links to take up the remaining space */
}

.listFila {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  margin-top: 62px;
  font-size: 18px;
 
}

.listNav {
  margin-bottom: 16.63px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
}

/* Media query for tablet devices */
@media (max-width: 768px) {
  .footerContainer {
    width: 800px;
    height: 172px;
    font-size: 12px;
    flex-direction: row;
  }
  .logo {
    width: 132px;
    height: 53px;
    margin-left: 28px;
    margin-top: 48px;
  }
  .contRedes {
    width: 305px;
    height: 53.33px;
    gap: 0px;
    
  }
  .cajaRedes{
    flex-direction: row;
    width: min-content;
  }
  .pRedes{
    width: 76px;
    height: 53.33px;
  }
  .iconosRedes{
    width: 29.333332061767578px;
    height: 29.333332061767578px;
    margin: 0px 18.33px 4px 18.33px;
    border-radius: 61.11111068725586px;

  }
  .nombreRedes{
    width: 66px;
    height: 20px;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.10000000149011612px;
    text-align: center;

  }
  .listPag{
    width: max-content;
    height: 172px;
  }
  .listFila{
    width: 133px;
    height: 116px;
    /* flex-direction:column; */
    font-size: 12px;
    margin: 10px;
    justify-content: flex-start;
  }
  .listNav{
    width: 133px;
    height: 20px;
    font-weight: 400;
    white-space: nowrap;
    line-height: 20px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;
    margin-bottom: 5px;
    
  }

}

/* Media query for mobile devices */
@media (max-width: 576px) {
  .contRedes {
    flex-wrap: wrap; /* Allow social media icons to wrap on smaller screens */
    justify-content: center;
  }

  .cajaRedes {
    margin: 8px 16px;
  }

  .listFila {
    margin-top: 20px;
  }

  .listNav {
    text-align: center;
  }
}
